<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passagens</title>
    <style>
        body {
background-image : url("https://aeromagazine.uol.com.br/media/versions/boeing-737-800-gol-pr-guc_free_big.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;}
.apresentacao{
    text-align: center;
    color: white;
}
    </style>

</head>
<body>
    <div class="apresentacao">
<p>
       <h1>SEJA BEM VINDO</h1>
   </p>

    </div>
    
   
    
</body>
</html>
